@model Lanche
<div class="col-sm-4 col-md-4 col-lg-4">

<P><img src="@Model.LancheImagemThumb" class="img-thumbnail"></P>
    <h4>@Model.LancheNome</h4>
    <p>@Model.LancheDescricaoCurta</p>
    <h3>Preço: @Model.LanchePreco.ToString("c")</h3>

     </div>
